<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Particles</title>
  <script src="lib/main.bundle.js"></script>
  <script src="js/main.js"></script>
</head>
<body>  
   <h1>Particle Library</h1>
   {{> header }}
</body>
</html>